:host {
  display: block;
}
.smartformio-container {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 1em;
  border-radius: 4px;
}
.field {
  margin-bottom: 1em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
input,
select {
  padding: 0.5em;
  border: 1px solid #007bff;
  border-radius: 4px;
}
